__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.coverage
.tox/
.idea/
.env
experiments/*

.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

./metadata/*
./saved_experiments/*